*{
    margin: 0;
    padding: 0;
}
.demo{
    width: 300px;
    height: 100px;
    background-color: rgb(26, 18, 18) ;
    color: rgb(226, 205, 205);
    border: 10px solid red;
    padding: 20px;
    margin: 20px;
    outline: 5px dotted green;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;

} 

.outerBox{
    width: 300px;
    height: 250px;
    background-color: rgb(167, 157, 157);
    font-size: 25px;
    color: purple;
}
.innerBox{
    width: 70%;
    height: 50%;
    background-color: rgb(37, 34, 34);
    padding: 20px;
    border: 2px solid green;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
}